@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="d-flex justify-content-between">
    <button id="newOrderButton" type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#newOrderCollapse" onclick="getNewOrderPage()">
        Hızlı Teklif
    </button>
</div>

<div class="collapse mt-3" id="newOrderCollapse">
    <div class="col-12 d-flex justify-content-center">
        <div id="waitNewOrder" class="spinner-border spinner-border-lg text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div id="newOrderContent" class="d-grid d-sm-flex p-3" style="min-height: 400px">
    </div>
</div>

<script>
    
    function getNewOrderPage() {
        $("#waitNewOrder").show();

        $.ajax({
            "url": "/TeklifTakip/_NewOrderContentPartial",
            "method": "GET",
            success: function(data) {
                $("#newOrderContent").html(data);
            },
            error: function(err) {
                console.log(err);
                alert("Bir Hata Oluştu !");
            }
        }).done(function() {
            $("#waitNewOrder").hide();
        });

    };

</script>