@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model GegiCRM.WebUI.ViewComponents.TopNavSearch.SearchResultsModel

<div class="navbar-nav align-items-center col-11">
    <div class="nav-item d-flex align-items-center w-100">
        <i class="bx bx-search fs-4 lh-0"></i>
        <input type="text" list="datalistOptions" id="exampleDataList"
               class="form-control border-0 shadow-none"
               placeholder="Ara..."
               aria-label="Ara..." />

        <datalist id="datalistOptions">
            <option value="Açılımlar">Sayfa Açıklaması</option>
            <option value="Teklif Takip">Sayfa Açıklaması</option>
            <option value="Sipariş Takip">Sayfa Açıklaması</option>
            <option value="Fiyat Farkı">Sayfa Açıklaması</option>
            <option value="Fiyat Segmenti">Sayfa Açıklaması</option>
        </datalist>
    </div>
</div>




