@{
}

<div class="card">
    <div class="card-header bg-primary text-white">Açılımlar</div>
    <div class="card-body">


        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="dt-buttons">      <button class="dt-button buttons-copy buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" type="button"><span>Copy</span></button> <button class="dt-button buttons-excel buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" type="button"><span>Excel</span></button> <button class="dt-button buttons-csv buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" type="button"><span>CSV</span></button> <button class="dt-button buttons-pdf buttons-html5" tabindex="0" aria-controls="DataTables_Table_0" type="button"><span>PDF</span></button> </div><div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Ara:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="DataTables_Table_0"></label></div><table class="table table-bordered table-sm dt dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                <thead>
                    <tr role="row"><th width="100" class="sorting sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" data-column-index="0" aria-sort="ascending" aria-label="KISALTMA: azalan sütun soralamasını aktifleştir" style="width: 100px;">KISALTMA</th><th width="200" align="left" class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" data-column-index="1" aria-label="TANIM: artan sütun sıralamasını aktifleştir" style="width: 200px;">TANIM</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" data-column-index="2" aria-label="AÇIKLAMA: artan sütun sıralamasını aktifleştir" style="width: 626.591px;">AÇIKLAMA</th></tr>
                </thead>



                <tbody>
























































































































                    <tr class="odd">
                        <td align="left" class="sorting_1">AB</td>
                        <td align="left">Araç Bilgileri</td>
                        <td align="left">Şirket araçlarının bilgilerinin takip edildiği ve hatırlatıldığı alandır.</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">ABÇ</td>
                        <td align="left">Aylık Bordro Çalışması</td>
                        <td align="left">Personelin aylık bordro çalışması bu sayfada kontrol edilir ve hazırlanır.</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">AÇ</td>
                        <td align="left">Açılımlar</td>
                        <td align="left">CRM Satış ta bulunan sayfalar iki harften oluşacak şekilde isimleri kısaltılmıştır. Bu sayfada kısaltması yapılan sayfalar hakkında detaylı bilgiler bulunmaktadır.</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">BF</td>
                        <td align="left">Bakım Faturaları</td>
                        <td align="left">Periyodik bakıma gidilen yerler ve bakım süreleri buraya kaydedilir, fatura kontrolleri ve bakım zamanları buradan kontrol edilir.</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">DT</td>
                        <td align="left">Depozito Teminat</td>
                        <td align="left">Şirketin vermiş olduğu depozito ve teminatlar takip edilir.</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">FD</td>
                        <td align="left">Form Dilekçe</td>
                        <td align="left">Şirket içi ve dışı yazışmalarda yazılacak örnek dilekçeler yer alır.</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">FF</td>
                        <td align="left">Fiyat Farkı</td>
                        <td align="left">Tedarikçi firmalardan alınan indirimlere ek olarak kazanım sağlanan Hediye çeki, Fiyat farkı , Geri ödemeler gibi tutarların kaydedilip takip edildiği sayfadır.&nbsp;</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">FS</td>
                        <td align="left">Fiyat Segmenti</td>
                        <td align="left">Teklif hazırlanan firmanın kendi segmentine göre fiyatın çalışıldığı alandır.&nbsp;</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">GT</td>
                        <td align="left">Garanti Takip</td>
                        <td align="left">Servis kaydı açılan arızalı cihazların garanti takipleri bu sayfadan yapılır. Garanti bitiş süresine göre servis işlemleri halledilir.</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">İA</td>
                        <td align="left">İade Arıza</td>
                        <td align="left">Şirkete gelen iade ve arızalı ürünlerin takibinin yapıldığı yerdir.</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">İK</td>
                        <td align="left">İndirim Kuponları</td>
                        <td align="left">Karlı müşterilerde her alanda çalışma yapmak için, çalışmadığımız alanlarda ekstre destek vererek dikkat çekmek ve talep almak amaçlı her ay başının ilk haftası yapılır</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">KB</td>
                        <td align="left">Kurumsal Bilgiler</td>
                        <td align="left">Kurumsal bilgilerimiz, unvan,adres,telefon, vergi dairesi numarası v.s. Hepsinin olduğu bölümdür.&nbsp;</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">KE</td>
                        <td align="left">Karşılama Ekranı</td>
                        <td align="left">Kur ve verilen teklifler durumları görülür</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">KG</td>
                        <td align="left">Kasa Giderleri</td>
                        <td align="left">Kasa Giderleri Takip edilir.</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">KS</td>
                        <td align="left">Kurallar Sayfası</td>
                        <td align="left">Her departmanın uyması gereken öncelikli kuralları içerir.</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">KZ</td>
                        <td align="left">Kar Zarar</td>
                        <td align="left">Yapılan satışların tümü bu tabloda kontrol edilir, kur alış satış fiyatları karşılaştırılır ve kar hesaplaması yapılır</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">MT</td>
                        <td align="left">Müşteri Temsilci ilişkileri</td>
                        <td align="left">Müşteri listemizi ve hangi müşterinin hangi temsilciye ait olduğunu görebiliriz.&nbsp;</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">MŞ</td>
                        <td align="left">Mail Şablonları</td>
                        <td align="left">Günlük yazışmalarda kullanılan scriptlerin kaydedilip daha kısa sürede ulaşılıp iş kolaylığı sağladığı sayfadır. Bu sayfada bulunan şablonlar ilgili maile eklenerek zaman tasarrıufu ve iş kolaylığı sağlanmış olur</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">OK</td>
                        <td align="left">Ortalama Kur</td>
                        <td align="left">Son 30 gün olmak üzere, iki tarih arasındaki Merkez Bankası döviz kurlarının ortalamasının alındığı yerdir.</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">SA</td>
                        <td align="left">Satış - Alış</td>
                        <td align="left">Şirket araç alış ve satış işlemlerinde yapılması gereken işlemleri içerir.</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">SKF</td>
                        <td align="left">Servis Kayıt</td>
                        <td align="left">Servise gidilen yada servis verilen yerler verilen hizmetler açıklamalarıyla; saat, gün ve kalma süresi olarak buraya kaydedilir ve hesaplanır.</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">ST</td>
                        <td align="left">Sipariş Takip</td>
                        <td align="left">Onayı alınan siparişler yenileme döneminde takip edilmek üzere bu sayfaya kaydedilir, yenilemesi olanların yanında \" var\" olmayanlarında \"yok\" şeklinde ibareler bulunur, \" var\" lar süzülerek hangi ürünü ne kadar fiyattan sattığımızı ve aldığımızı rahatlıkla görebiliriz, ayırt edici olması açısından cihaz numarası seri numarası yada key bilgisi mutlaka eklenmelidir.</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">SV</td>
                        <td align="left">Sık Verilen Teklifler</td>
                        <td align="left">Özel Proje fiyatları ve en çok teklifini ilettiğimiz ürün grupları için oluşturulmuş olan bu sayfada, gelen taleplere en hızlı şekilde dönüş yapmak ve iş kolaylığı sağlaması amacıyla düzenlenmiştir. Aynı zamanda ürünlerin canlı stoklarını da görebilirsiniz.</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">TL</td>
                        <td align="left">Tedarikçi Takip</td>
                        <td align="left">Hangi markalardan kimlerden fiyat alabileceğimizi ve ayrıntılı bilgilerine ulaşabilirsiniz.</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">TM</td>
                        <td align="left">Tahsilat Makbuzu</td>
                        <td align="left">Girilen bilgiler doğrultusunda şirketin standartındaki şablonda tahsilat makbuzunun oluşturulmasıdır.</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">TT</td>
                        <td align="left">Teklif Takip</td>
                        <td align="left">Şirket içerisinde gelen tüm ürün ve hizmet talepleri bu bölüme kaydedilip, fiyatlandırılıp takip edilir. Şirket içerisinde gelen tüm ürün ve hizmet talepleri bu bölüme kaydedilip, fiyatlandırılıp takip edilir.</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">TÖ</td>
                        <td align="left">Tedarikçi Ödeme</td>
                        <td align="left">Muhasebe dışındaki personelin şirket kredi kartını kullanması durumunda doldurup muhasebeye raporlaladığı alandır.</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">ÇS</td>
                        <td align="left">Çalışma Standartları</td>
                        <td align="left">Şirket personlenin günlük yapması gereken işler uyulmasi gereken kurallar, işin yapılış biçimi gibi detayların anlatıldığı sayfadır. İşin yapılışı sırasındaki aksaklıkların giderilmesi için kullanılmalıdır</td>


                    </tr>
                    <tr class="odd">
                        <td align="left" class="sorting_1">ÖK</td>
                        <td align="left">Ödeme Kuru</td>
                        <td align="left">Tedarikçilere yapılacak ödemeler USD mi TL mi yapılmalı, tablodan hesaplanır, hangi döviz ile daha karlı olacaksa ona göre ödeme dövizi bulunur ve ödeme gerçekleştirilir.</td>


                    </tr>
                    <tr class="even">
                        <td align="left" class="sorting_1">ÜB</td>
                        <td align="left">Ürün Bilgileri</td>
                        <td align="left">Tüm satışı yapılan markaların ürünleri ile ilgili soru ve cevapları içerir.</td>


                    </tr>
                </tbody>
            </table><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">30 kayıttan 1 - 30 arasındaki kayıtlar gösteriliyor</div><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Önceki</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">Sonraki</a></li></ul></div>
        </div>


    </div>
</div>
