html {
    /*zoom: 80%;*/
}

/*.profilePicture {
    background-image: url('/assets/img/avatars/default.webp');*/
    /*width: 100px;*/
/*}*/

#fullScreenButton {
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s;
}

    #fullScreenButton:hover {
        color: #a5a6ff;
        transform: scale3d(1.3, 1.3, 1.3);
    }

.table > tbody > tr {
    cursor: pointer;
}


.btn:hover, .btn:focus {
    background-position: 0 !important;
}

#menuUl {
    padding-bottom: 150px !important;
    overflow-x: hidden !important;
}

/*datatable begin*/
.dataTables_length > label {
    display: inline-flex;
    line-height: 30px;
}

    .dataTables_length > label .select {
        padding: 0px 5px 0px 5px;
    }

.dataTables_filter > label > input {
    height: 30px;
    min-height: 30px;
    padding: 0 0 0 5px;
    margin: 0;
}

.dataTables_empty {
    text-align: center;
    width: 100% !important;
    position: absolute;
    height: 96%;
    cursor: not-allowed;
}

.dtsb-button, .dtsb-button:focus {
    color: #696cff;
    border-color: #696cff;
}
    .dtsb-button:hover {
        color: #fff;
        background-color: #5f61e6;
        border-color: #5f61e6;
        box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%);
        transform: translateY(-1px px );
    }

/*datatable end*/

/*scrollbar begin*/
/* width */
::-webkit-scrollbar {
    width: 0.55rem;
    height: 0.55rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px gray;
    border-radius: 6px;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #c3c4dd;
    border-radius: 6px;
    transition: background-color 0.2s linear, width 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(67, 89, 113, 0.7);
    }
/*scrollbar end*/


/*topnavsearch begin*/
#topNavSearch {
    font-size: 14px;
    margin-bottom: 0px;
}

#topNavSearchResults {
    display: none;
    position: absolute;
    top: 46px;
    width: inherit;
    left: 3rem;
    /*border-color: #a5a6ff;*/
    max-height: 360px;
    overflow: auto;
    border: 1px solid #e7e7ff;
    border-radius: 0 0 10px 10px;
}

    #topNavSearchResults > .list-group {
        background: #ffffffdb;
    }

        #topNavSearchResults > .list-group > .list-group-item {
            border: 1px solid #e7e7ff;
            overflow-x: hidden;
            border-radius: 0;
        }

            #topNavSearchResults > .list-group > .list-group-item :first-child {
                border-top: 0px solid black;
            }

            #topNavSearchResults > .list-group > .list-group-item:hover {
                background: #e7e7ff;
                color: #7679ff;
            }
/*topnavsearch end*/

/*Porduct Search*/

#productSearchResults {
    display: none;
    position: absolute;
    width: 96%;
    /* border-color: #a5a6ff; */
    max-height: 360px;
    overflow: auto;
    border: 2px solid #5f61e6;
    border-radius: 0 0 10px 10px;
    z-index: 999;
}

#productSearchResults > .list-group {
        background: white;
    }

    #productSearchResults > .list-group > .list-group-item {
        overflow-x: hidden;
        border-radius: 0;
    }

        #productSearchResults > .list-group > .list-group-item :first-child {
            border-top: 1px solid black;
        }

        #productSearchResults > .list-group > .list-group-item:hover {
            background: #e7e7ff;
            color: #7679ff;
        }


/*Porduct Search End*/

.select2 {
    width: 100% !important;
}

.select2-search__field {
    height: 26px !important;
}

.select2-container--default .select2-results__option--selected {
    background-color: #ffeb00 !important;
    color: #798899 !important;
}


.gotMessage {
    box-shadow: 0 8px 40px 15px #ff3e1d;
}

.newOnline {
    box-shadow: 0 8px 40px 15px #7679ff;
}
