#fullScreenButton {
    margin-right: 10px;
    cursor: pointer;
    transition: 0.2s;
}

    #fullScreenButton:hover {
        color: #a5a6ff;
        transform: scale3d(1.3, 1.3, 1.3);
    }

.table > tbody > tr {
    cursor: pointer;
}


.btn:hover, .btn:focus {
    background-position: 0 !important;
}

#menuUl {
    padding-bottom: 150px !important;
    overflow-x: hidden !important;
}

/*datatable begin*/
.dataTables_length > label {
    display: inline-flex;
    line-height: 30px;
}

    .dataTables_length > label .select {
        padding: 0px 5px 0px 5px;
    }

.dataTables_filter > label > input {
    height: 30px;
    min-height: 30px;
    padding: 0 0 0 5px;
    margin: 0;
}
/*datatable end*/

/*scrollbar begin*/
/* width */
::-webkit-scrollbar {
    width: 0.55rem;
    height: 0.55rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px gray;
    border-radius: 6px;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #c3c4dd;
    border-radius: 6px;
    transition: background-color 0.2s linear, width 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgba(67, 89, 113, 0.7);
    }
/*scrollbar end*/


/*topnavsearch begin*/
#topNavSearch {
    font-size: 14px;
    margin-bottom: 0px;
}

#topNavSearchResults {
    display: none;
    position: absolute;
    top: 46px;
    width: inherit;
    left: 3rem;
    /*border-color: #a5a6ff;*/
    max-height: 360px;
    overflow: auto;
    border: 1px solid #e7e7ff;
    border-radius: 0 0 10px 10px;
}

    #topNavSearchResults > .list-group {
        background: #ffffffdb;
    }

        #topNavSearchResults > .list-group > .list-group-item {
            border: 1px solid #e7e7ff;
            overflow-x: hidden;
            border-radius: 0;
        }
        #topNavSearchResults > .list-group > .list-group-item :first-child{
            border-top: 0px solid black;
        }

            #topNavSearchResults > .list-group > .list-group-item:hover {
                background: #e7e7ff;
                color: #7679ff;
            }
/*topnavsearch end*/

.select2-search__field {
    height: 26px !important;
}