@{
    Layout = "_LayoutLoginRegister";
    ViewData["title"] = "Şifremi Unuttum";
}

<h4 class="mb-2 text-center">Şifreni mi unuttun ? 🔒</h4>
<p class="mb-4 text-center text-muted">Aşağıya girdiğin hesabına ait email adresine bir şifre hatırlatma maili göndereceğim</p>
<form id="formAuthentication" class="mb-3" method="POST">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text"
               class="form-control"
               id="email"
               name="email"
               placeholder="Email Adresiniz"
               autofocus />
    </div>
    <button class="btn btn-primary d-grid w-100">Gönder</button>
</form>
<div class="text-center">
    <a href="/Login" class="d-flex align-items-center justify-content-center">
        <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
        Giriş Yap
    </a>
</div>