@model GegiCRM.Entities.Concrete.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TicariUnvan" class="control-label"></label>
                <input asp-for="TicariUnvan" class="form-control" />
                <span asp-validation-for="TicariUnvan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SectorId" class="control-label"></label>
                <select asp-for="SectorId" class ="form-control" asp-items="ViewBag.SectorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CariKodu" class="control-label"></label>
                <input asp-for="CariKodu" class="form-control" />
                <span asp-validation-for="CariKodu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegmentId" class="control-label"></label>
                <select asp-for="SegmentId" class ="form-control" asp-items="ViewBag.SegmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" class ="form-control" asp-items="ViewBag.TypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tel" class="control-label"></label>
                <input asp-for="Tel" class="form-control" />
                <span asp-validation-for="Tel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrencyId" class="control-label"></label>
                <input asp-for="CurrencyId" class="form-control" />
                <span asp-validation-for="CurrencyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SideSuppliers" class="control-label"></label>
                <input asp-for="SideSuppliers" class="form-control" />
                <span asp-validation-for="SideSuppliers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreferredCurrencyId" class="control-label"></label>
                <select asp-for="PreferredCurrencyId" class ="form-control" asp-items="ViewBag.PreferredCurrencyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CustomerMainCompanyId" class="control-label"></label>
                <select asp-for="CustomerMainCompanyId" class ="form-control" asp-items="ViewBag.CustomerMainCompanyId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AddedById" class="control-label"></label>
                <select asp-for="AddedById" class ="form-control" asp-items="ViewBag.AddedById"></select>
            </div>
            <div class="form-group">
                <label asp-for="ModifiedById" class="control-label"></label>
                <select asp-for="ModifiedById" class ="form-control" asp-items="ViewBag.ModifiedById"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
