@model GegiCRM.Entities.Concrete.Customer

@{
    ViewData["Title"] = "Müşteri Silinmek Üzere !";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>"@Model.TicariUnvan" Mşterisini Silmek İstediğinden Emin Misin ?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Evet Sil !" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Hayır</a>
    </form>
</div>


